@font-face {
  font-family: "sportevent";
  src:url("../fonts/sportevent.eot");
  src:url("../fonts/sportevent.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sportevent.woff") format("woff"),
    url("../fonts/sportevent.ttf") format("truetype"),
    url("../fonts/sportevent.svg#sportevent") format("svg");
  font-weight: normal;
  font-style: normal;

}